NODE_ENV=development

PORT=4000

APP_NAME=foodflow-api

FRONTEND_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:abhishek12345@your_ip:5432/fooddeliverydb

REDIS_HOST=redis-stack
REDIS_PORT=6379

CACHE_PREFIX=fooddelivery
CACHE_VERSION=v1

TRUST_PROXY=1

REQUEST_TIMEOUT=30s

GLOBAL_RATE_LIMIT_WINDOW=15
GLOBAL_RATE_LIMIT_MAX=1000

SALT_ROUNDS=12

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800
JWT_ISSUER=foodflow-api
JWT_AUDIENCE=foodflow-client

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=no-reply@foodflow.com

EMAIL_VERIFICATION_URL=http://localhost:3000/verify-email
